<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="inputOne">
    <input type="text" [(ngModel)]="searchValue"/>
    <button (click)="postData()">Post Data</button>
</div>

<div class="inputTwo">
    <input type="text" [(ngModel)]="searchFee"/>
    <button (click)="postFee()">Fee Data</button>
</div>
<div class="container">
    <div class="con">
  <h2>StudentDatabase:</h2>          
  <table class="table">
    <thead>
      <tr>
        <th>STUDENT_ID</th>
        <th>STUDENT_NAME</th>
        <th>STUDENT_MARKS</th>
        <th>STUDENT_FEE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let eachuser of userData">
        <td>{{eachuser.id}}</td>
        <td>{{eachuser.name}}</td>
        <td>{{eachuser.marks}}</td>
        <td>{{eachuser.fee}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

</body>
</html>
